/*Only Topology*/

svg {
    background-color: whitesmoke;
    width: 99.5%;
   border: solid 1px #E7E7E7;
}
.outLine{
    stroke: #009900;
    stroke-width: 2;
    /*stroke-dasharray: 10 5;*/
    fill: none;
    /*opacity: .6;*/
}

.toolbarContainer{
    /*position: absolute;*/
    /*top: 0px;*/
    /*margin: 5px;*/
    height: 40px;
    width: 99.5%;
    z-index: 1;
    padding: 5px;
    border-radius: 4px 4px 0 0;
    background-color: #ffffff;
    border: solid #E7E7E7 1px;
}
/*连接线*/
.link{
    stroke: gray;
    stroke-width: 2px;
}
/*临时绘制的选定*/
.tempLink{
    stroke: red;
    stroke-dasharray: 10 5;
}
/*连接线被选中状态*/
.linkSelected{
    stroke: red;
    stroke-width: 3px;
    stroke-dasharray: 10 5;
}


.netElementForDrag{

}
.netElementForBackground{

}
.netElementForDragBackground{
    fill: lightgray;
    /*stroke: gray;*/
    /*stroke-width: 1;*/
}


.toplogyToolbar{

}

.subNet{

}

.node{

}
.nodeImg{

}
/*主画布中的设备节点名称*/
.nodeText {
    font-size: 8px ;
    font-family: SimSun;
    fill:#000000;
}

.q-icon {
    background-image: url(../images/icons-32.png);
    background-repeat: no-repeat no-repeat;
    margin: 1px 0px;
    background-size: 423px 16px;
}
.toolbar-add{ background-position: 0px 0px; width: 16px; height: 16px; }
.toolbar-default{ background-position: -18px 0px; width: 16px; height: 16px; }
.toolbar-download{ background-position: -37px 0px; width: 16px; height: 16px; }
.toolbar-edge_VH{ background-position: -55px 0px; width: 16px; height: 16px; }
.toolbar-edge{ background-position: -74px 0px; width: 16px; height: 16px; }
.toolbar-expand{ background-position: -92px 0px; width: 16px; height: 16px; }
.toolbar-json{ background-position: -111px 0px; width: 16px; height: 16px; }
.toolbar-line{ background-position: -129px 0px; width: 16px; height: 16px; }
.toolbar-max{ background-position: -148px 0px; width: 16px; height: 16px; }
.toolbar-new{ background-position: -166px 0px; width: 16px; height: 16px; }
.toolbar-overview{ background-position: -185px 0px; width: 16px; height: 16px; }
.toolbar-pan{ background-position: -203px 0px; width: 16px; height: 16px; }
.toolbar-polygon{ background-position: -222px 0px; width: 16px; height: 16px; }
.toolbar-print{ background-position: -240px 0px; width: 16px; height: 16px; }
.toolbar-rectangle_selection{ background-position: -259px 0px; width: 16px; height: 16px; }
.toolbar-remove{ background-position: -277px 0px; width: 16px; height: 16px; }
.toolbar-save{ background-position: -296px 0px; width: 16px; height: 16px; }
.toolbar-search{ background-position: -314px 0px; width: 16px; height: 16px; }
.toolbar-update{ background-position: -333px 0px; width: 16px; height: 16px; }
.toolbar-upload{ background-position: -351px 0px; width: 16px; height: 16px; }
.toolbar-zoomin{ background-position: -370px 0px; width: 16px; height: 16px; }
.toolbar-zoomout{ background-position: -388px 0px; width: 16px; height: 16px; }
.toolbar-zoomreset{ background-position: -407px 0px; width: 16px; height: 16px; }